.name {
    padding: 20px 0;
    text-align: center;
}
.td__button{
    padding: 0 20px;
}
.tr{
    padding: 10px;
}
.table{
    width: 100%;
}
.button{
    
    outline: none;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    z-index: 2;
    transition:all 0.5s ease;
    border-radius: 8px;
    background-color: red;
    cursor: pointer;
}
.action{
    padding: 20px;
}
.button_update{
    
    outline: none;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    z-index: 2;
    transition:all 0.5s ease;
    border-radius: 8px;
    background-color: green;
    cursor: pointer;
}