.form_form {
        margin-bottom: 30px;
    }
.form_wrap {
        padding: 80px 0;
    }
.form_items{
        width: 100%;
        padding: .5rem 1.5rem;
}
.form_input {
    display: block;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    width: calc(100% - 1rem);
}
        
.form_textarea {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 1rem;
            width: calc(100% - 1rem );
            border: none;
            font-family: "SF Pro Display", sans-serif;
        }
.form_haft{
    width: calc(50% - 3rem);
    padding: .5rem 1.5rem;
}
.form_title{
    font-size: 24px;
    margin-bottom: 20px;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_main{
    display: flex;
    flex-wrap: wrap;
}
.form_input,
.form_textarea{
    outline: none;
    border: none;
    resize: none;
}
.button{

    padding: 0.75rem 1.4375rem 0.6875rem 1.25rem;
    background-color:#ffffff;
}