@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
ul {
    list-style: none;
}
li{
    display: inline-block;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
.nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.nav-logo {
    font-size: 25px;
    text-transform: uppercase;
}
.nav-logo > span {
    font-size: 16px;
    margin-left: -5px;
}
.nav-item:not(:first-child){
    margin-left: 20px;
}
footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
    color: #777;
    border-top: 1px solid #eaeaea;
}
button{
  border: none;
  outline: none;
}
.paper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #f2f2f2;
}
.form {
  display: flex;
  flex-direction: column;
}
.modal__name{
  text-align: center;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__input{
  width: 50%;
  padding: 15px 10px;
  margin-bottom: 30px;
  border: none;
}
.modal__footer{
  padding: 20px 0;
}
.button_update{
    outline: none;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    z-index: 2;
    transition:all 0.5s ease;
    border-radius: 8px;
    background-color: green;
    cursor: pointer;
    margin-right: 20px;
}
.button_cancel{
  outline: none;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: red;
  cursor: pointer;
}