.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 40px;
    margin-bottom: 30px;
}
.btn{
    background-color: #fff;
    padding: 15px;
    font-size: 20px;
}
.main{

    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.span{
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.spanone{
    position: relative;
    top: 0;
    transition: top 1s cubic-bezier(0.82, 0, 0.36, 1);
}
.spantwo{
    top: 20px;
    position: absolute;
    left: 0;
    transition: top 1s cubic-bezier(0.82, 0, 0.36, 1);
}
.span:hover .spanone{
    top: -20px;
}
.span:hover .spantwo{
    top: 0;
}
